* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

iframe {
	position: absolute;
	border: 0;
}

#errorDlg {
	position: absolute;
	z-index: 2;
	width: 60%;
	left: 20%;
	top: 8%;
	height: 3em;
	font-color: white;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	display: none;
}

#loading {
	font-size: 40px;
	color: #999;
	text-align: center;
	padding-top: 20%;
}
