* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

iframe {
	position: absolute;
	border: 0;
}


.errorDlg {
	display: none;
}

#loading {
	font-size: 40px;
	color: #999;
	text-align: center;
	padding-top: 20%;
}
